<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Brunch</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="app" class="container">
        <div class="columns">
            <div class="column">
                <div class="hero is-dark">
                    <div class="hero-body">
                    
                        <h1 class="title"> El mejor acortador </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                        <div id="world-map"></div>
            </div>
            <div class="column" id="results">
                <h2>Selecciona un país </h2>
                <section class="panel" v-if="selected">
                    <p class="panel-heading"> Results </p>
                    <div class="panel-block">
                        <table class="table">
                            <tr>
                                <th>Rate</th>
                                <th>Service</th>
                                <th>Country</th>
                            </tr>
                            
                            <tr v-for="s in selected" v-key="cc">
                                <td>
                                   $ {{formatPrice(s.cc)}}
                               </td>
                               <td>
                                   <img v-if="s.module == 'bcvc'" src="https://i.imgur.com/tR37Kb3.png" alt="{{s.module}}">
                                   <img v-if="s.module == 'adfly'" src="https://i.imgur.com/vgbKRjg.png" alt="{{s.module}}">
                                   <img v-if="s.module == 'ouoio'" src="https://i.imgur.com/qZIWQLh.png" alt="{{s.module}}">
                                   <img v-if="s.module == 'shorte'" src="https://i.imgur.com/I7SnxEW.png" alt="{{s.module}}">
                                   <img v-if="s.module == 'shinkin'" src="https://i.imgur.com/DYlrfvT.png" alt="{{s.module}}">
                                   <img v-if="s.module == 'uskipme'" src="https://i.imgur.com/OlkHGe4.png" alt="{{s.module}}">
                                </td>
                                <td>
                                    {{s.country}}
                                </td>
                            </tr>
  
                        </table>
                    </div>
                </section>

            </div>
        </div>

    </div>
  <script src="app.js"></script>
  <script charset="utf-8">
        require("initialize");
  </script>
  <script src="jquery-jvectormap-world-mill-en.js"></script>


</body>
